.filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.active {
  border: 3px solid red;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product {
  &__description {
    font-size: 0.875rem;
    font-weight: normal;
  }
}
