<h2>Products</h2>
<div class="products-container">
  @for (product of products(); track 'id') {
  <mat-card class="product" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle class="product__description">{{
        product.description
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button href="/products/{{ product.id }}">view product</a>
    </mat-card-actions>
  </mat-card>
  }
</div>
